@page "/iniciar-sesion"

@using System.Text.Json;

@inject HttpClient Http
@inject NavigationManager Navigator
@inject ILoginService loginService
@using FindServicesApp_BackEnd.Client.Auth
<div class="header_wrapper">


    <div class="contact_page">
        <div class="mad_section">
            <div class="container" style="border-radius: 4px 4px 4px 4px;background: white; border-top: 3px solid #fff; max-width: 550px; -webkit-box-shadow: 0px 0px 8px 0px rgba(194,194,194,1); -moz-box-shadow: 0px 0px 8px 0px rgba(194,194,194,1); box-shadow: 0px 0px 8px 0px rgba(194,194,194,1); ">
                @*<h2>Contact Us</h2>*@
                <div class="row">



                    <div class="col-sm-12">
                        <br />
                        <h4 style="text-align:center;font-size: 25px;font-weight: bold;">Iniciar Sesión</h4>
                        <EditForm Model="login" OnValidSubmit="LoginMetodo" class="form_type_1 type_2">
                            <DataAnnotationsValidator />

                            <div class="control-group">
                                <label class="control-label cambio_color">Correo</label>
                                <InputText style="color: #000000" class="cambio_color" placeholder="Ingresa tu correo electronico" name="textinput" @bind-Value="@login.Email" />
                                <ValidationMessage For="@(() => login.Email)" />
                            </div>

                            @*<div class="control-group">
            <label class="control-label cambio_color">Contraseña</label>
            <InputText style="color: #000000" type="password" Class="form-control" placeholder="Introducir la contraseña " @bind-Value="@login.Password" />

            <ValidationMessage For="@(() => login.Password)" />
        </div>*@

                            <div class="control-group">
                                <label class="control-label cambio_color">Contraseña</label>

                                <div class="container_interno" style=" max-width: 700px; width: 100%;">
                                    <div class="wrapp-input" style="position: relative; width: 100%; min-height: 50px;">
                                        <span class="icon-aye" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;" @onclick="TogglePasswordVisibility">
                                            <i style="color:black" class="@PasswordIcon"></i>
                                        </span>

                                        <InputText @bind-Value="@login.Password"
                                                   style="color: #000000; background: transparent; text-align: left; width: 100%; border: 1px solid #4e4e4e; line-height: inherit; height: 40px; padding: 10px 15px; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;"
                                                   type="@isPassword"
                                                   placeholder="Introducir la Contraseña" />

                                    </div>


                                </div>

                                <ValidationMessage For="@(() => login.Password)" />
                            </div>


                            <div class="align_center" style="padding-top:10px">
                                <button type="submit" class="button type1" style="width:100%">
                                    <span><span style="color:white">Iniciar Sesion</span><span>Iniciar Sesion</span></span>
                                </button>
                            </div>

                            <br />

                            <div class="align_center">
                                <label class="cambio_color">¿No tienes una Cuenta?</label>
                                <a class="angotar" href="crear-usuarios"><label style="color: #015AAA; cursor: pointer; ">Crear Una Cuenta.</label></a>

                            </div>
     
                            <div class="align_center" style="margin-top:10px">
                                <label class="cambio_color">¿No recuerdas tu contraseña?</label>
                                <a class="angotar" href="recuperar-contraseña"><label style="color: #015AAA; cursor: pointer; ">Recuperar.</label></a>

                            </div>
                            <br />

                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@if (AbrirModal == true)
{
    <MensajeModal Estilo="@estilo" Titulo="@titulo" Cuerpo="@mensaje" cerrarVentana="@(() => cerrarModal())"></MensajeModal>
}



@if (preloader == true)
{
    <Preloader></Preloader>
}

@code {



    Login login = new Login();
    private bool AbrirModal = false, preloader = false;
    private string titulo = "", mensaje = "", estilo = "";


    private bool IsPasswordVisible { get; set; } = false;
    private string PasswordIcon => IsPasswordVisible ? "fa fa-eye-slash" : "fa fa-eye";
    private string isPassword => IsPasswordVisible ? "text" : "password";


    private void TogglePasswordVisibility()
    {
        IsPasswordVisible = !IsPasswordVisible;
    }


    protected override async Task OnInitializedAsync()
    {
        login.Email = "cesar@cesar.com";
        login.Password = "1234567890";
    }

    async Task LoginMetodo()
    {
        AbrirModal = false;
        preloader = true;
        var response = await Http.PostAsJsonAsync("api/usuarios/loginUsuario", login);
        if (response.IsSuccessStatusCode)
        {

            //Console.WriteLine(await response.Content.ReadAsStringAsync());

            Respuesta respuesta = JsonSerializer.Deserialize<Respuesta>(await response.Content.ReadAsStringAsync());


            if (respuesta.res == "true")
            {
                //Console.WriteLine(respuesta.res);
                //Console.WriteLine(respuesta.token);
                await loginService.Login(respuesta.token.ToString());
                Navigator.NavigateTo("");
                mensaje = $"Usuario Correctos.";
                titulo = "Login de Usuarios";
                //AbrirModal = true;
                preloader = false;
            }
            else
            {
                mensaje = $"El correo y contraseña que usted ingreso no son correctos. Asegurese que el correo {login.Email} o la contraseña sean la correcta.";
                titulo = "Login de Usuarios";
                AbrirModal = true;
                preloader = false;
            }




            //Console.WriteLine(respuesta.otro);
        }
        else
        {
            if ((int)response.StatusCode >= 400 && (int)response.StatusCode <= 499)
            {

                //en teoria seria mandarlo al login por si se vence el token
            }
        }
    }


    private void cerrarModal()
    {
        AbrirModal = !AbrirModal;
        estilo = AbrirModal == true ? "display: none;" : "";
    }

}
